<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" th:text="${user.name + ' with roles: '+ user.rolesToString()}"></a>
  <a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href="http://localhost:8080/logout">Logout</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="http://localhost:8080/" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="http://localhost:8080/user" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
      </div>
    </div>
    <div class="col-10 offset-md-2"><div>
      <h1>Admin panel</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Users table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add">Add new user</a>
        </li>
      </ul>
      <h4>All users</h4>
      <table class="table table-striped" id="users">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">LastName</th>
          <th scope="col">Age</th>
          <th scope="col">Roles</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="allUsersBody">
        </tbody>
      </table>
      <!-- Удаление пользователя -->
      <div class="modal fade" id="deleteModal" tabindex="-1"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Delete</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <form id="deleteUser">
              <div class="modal-body col-md text-center">
                <div class="d-grid gap-2 col-4 mx-auto p-1 text-center">
                  <br>
                  <label for="idDel"><b>ID</b></label>
                  <input class="form-control" id="idDel" disabled/>
                  <br>
                  <label for="firstNameDel"><b>Name</b></label>
                  <input class="form-control" id="firstNameDel" disabled/>
                  <br>
                  <label for="lastNameDel"><b>Last Name</b></label>
                  <input class="form-control" id="lastNameDel" disabled/>
                  <br>
                  <label for="ageDel"><b>Age</b></label>
                  <input class="form-control" id="ageDel" disabled/>
                  <br>
                  <label for="passwordDel"><b>Password</b></label>
                  <input type="password" class="form-control" id="passwordDel" disabled/>
                  <br>
                  <label for="roles" class="form-label">Role</label>
                  <select class="form-select" name="rolesDel"
                          multiple id="rolesDel" size="2" disabled>
                    <option id="rolesDel1" value="1">USER</option>
                    <option id="rolesDel2" value="2">ADMIN</option>
                  </select>
                  <br><br>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-danger">
                    Delete
                  </button>
                  <button type="button" class="btn btn-outline-secondary"
                          data-bs-dismiss="modal" id="closeDeleteModal">Close
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <!-- Редактирование пользователя-->
      <div class="modal fade" id="editModal" tabindex="-1"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editModalLabel">Edit</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <form id="editUser">
              <div class="modal-body col-md text-center">
                <div class="d-grid gap-2 col-4 mx-auto p-1 text-center">
                  <br>
                  <label for="idRed"><b>ID</b></label>
                  <input class="form-control" id="idRed" name="id" readonly="true"/>
                  <label for="firstNameRed"><b>First Name</b></label>
                  <input class="form-control" id="firstNameRed" name="name"/>
                  <br>
                  <label for="lastNameRed"><b>Last Name</b></label>
                  <input class="form-control" id="lastNameRed" name="lastName"/>
                  <br>
                  <label for="ageRed"><b>Age</b></label>
                  <input class="form-control" id="ageRed" name="age"/>
                  <br>
                  <label for="passwordRed"><b>Password</b></label>
                  <input class="form-control" type="password" id="passwordRed" name="password" readonly="true"/>
                  <br>
                  <label for="rolesRed" class="form-label">Role</label>
                  <select class="form-select" multiple name="roles"
                          id="rolesRed" size="2" required>
                    <option id="rolesRed1" value="1">USER</option>
                    <option id="rolesRed2" value="2">ADMIN</option>
                  </select>
                  <br><br>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-info">
                    Edit
                  </button>
                  <button type="button" class="btn btn-outline-secondary"
                          data-bs-dismiss="modal">Close
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

        </div>
      </div>
    </div></div>
  </div>
</div>
<script type="text/javascript" src="../static/admin.js">
</script>
</body>
</html>

